/* :root {
  --primary: #38182f;
  --secondary: #2f394d;
  --highlight: #56666b;
}

* {
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  background: var(--primary);
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  background-color: var(--secondary);
  width: 100vw;
  padding: 1rem;
  text-align: center;
}

form {
  background-color: var(--highlight);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form button {
  border: 0;
  padding: 0.5rem 0.75rem;
  color: #fff;
  background-color: var(--primary);
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid var(--primary);
}

form button:focus {
  outline: none;
}

form input {
  padding: 0.5rem;
  border: 0;
  font-size: 1rem;
  color: #000;
  border: 1px solid var(--primary);
}

h2 {
  font-size: 1.5rem;
} */

img {
  max-width: 100%;
}

.genderSymbol {
  margin-right: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainImage {
  object-position: center;
  object-fit: cover;
}

.mainImageContained {
  object-position: center;
  object-fit: contain !important;
  padding: 20px;
}
.flexColCentered {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.noDec {
  text-decoration: none;
  color: inherit;
}
.noDec:hover {
  text-decoration: none;
  color: inherit;
}
.whiteBtn:hover {
  color: #fff;
}
